body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
}

.nav-link {
    color: white !important;
}

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}

.content {
    margin-left: 200px;
    padding: 20px;
}

/* admin_style.css */

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* static/css/style.css */
.container {
    margin-top: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}


.alert {
    margin-bottom: 20px;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
